<app-card>
  <app-card-title>
    Zhen Lu
  </app-card-title>
  <app-card-subtitle>
    Full Stack Developer
  </app-card-subtitle>
  <div class="about-text">
    <p>
      <span class="first-sentence">Hi, my name is <span class="emphasize">Zhen</span>, a full stack developer</span>
      who is always learning new things. I speak many languages including,
      but not limited to, English, Mandarin, Javascript and Python.
      In no particular order, my passions are teaching, learning, people, coding,
      and gaming.
    </p>

    <p>
      <span class="first-sentence">If you would like to know more,</span> check out my skill set below and download
      my resume. Don't hesitate to contact me if you would like to chat. You can use my contact form to shoot me an
      email to set something up. I look forward to speaking with you.
    </p>

  </div>

  <app-sub-heading>
    Core Skills
  </app-sub-heading>

  <app-skill progress="100" color="#3A7CA5">Teamwork</app-skill>
  <app-skill progress="100" color="#3A7CA5">Organization</app-skill>
  <app-skill progress="100" color="#3A7CA5">Communication</app-skill>

  <app-sub-heading>
    Front-end Skills
  </app-sub-heading>

  <app-skill progress="75" color="#02C39A">HTML/CSS</app-skill>
  <app-skill progress="90" color="#02C39A">Javascript</app-skill>
  <app-skill progress="80" color="#02C39A">Typescript</app-skill>

  <div class="skill-divider"></div>

  <app-skill progress="85" color="#028090">Angular4</app-skill>
  <app-skill progress="60" color="#028090">Ionic</app-skill>
  <app-skill progress="40" color="#028090">Sass</app-skill>

  <app-sub-heading>
    Back-end Skills
  </app-sub-heading>

  <app-skill progress="65" color="#F26430">NodeJs/Express</app-skill>
  <app-skill progress="55" color="#F26430">Python/Django/Flask</app-skill>
  <app-skill progress="40" color="#F26430">MySQL</app-skill>

  <!--<app-sub-heading>-->
    <!--Education-->
  <!--</app-sub-heading>-->

  <!--<app-education imgSrc="http://i399.photobucket.com/albums/pp76/allaboutuni/ClaytonStateUniversity.jpg">-->
    <!--<div university>University of Pittsburgh</div>-->
    <!--<div degree>BS Chemistry</div>-->
  <!--</app-education>-->

  <!--<div class="education-divider"></div>-->

  <!--<app-education imgSrc="http://i399.photobucket.com/albums/pp76/allaboutuni/ClaytonStateUniversity.jpg">-->
    <!--<div university>Temple University</div>-->
    <!--<div degree>PhD Computational Chemistry</div>-->
  <!--</app-education>-->

  <!--<div class="education-divider"></div>-->

  <button class="cv-download">Download Resume</button>

</app-card>
