@import "../../assets/sass-shared";

.about-text {
  color: rgb(130,130,130);
}

.skill-divider {
  display: block;
  margin: 20px;
}

.education-divider {
  margin: 10px 0;
  height: 0;
  display: block;
  border-bottom: 1px solid #c7c7c7;
}
