@import "../../assets/sass-shared";

.emphasize {
  color: $accent;
  font-size: 1.1em;
  font-weight: 600;
}

.first-sentence {
  font-weight: 600;
}

.about-text {
  color: $secondary-text;
}

.skill-divider {
  display: block;
  margin: 50px;
}

.education-divider {
  border-bottom: 1px solid $divider-color;
  display: block;
  height: 0;
  margin: 10px 0;
}

.cv-download {
  background-color: $secondary;
  border: none;
  border-radius: 3px;
  color: white;
  display: block;
  margin: 40px auto 20px auto;
  padding: 15px;
}
