<app-card>
  <app-card-title>
    Zhen Lu
  </app-card-title>
  <app-card-subtitle>
    Front End Developer
  </app-card-subtitle>
  <div class="about-text">
    <p>
      Hi, my name is <span class="emphasize">Zhen</span>, a front-end developer
      who is always learning new things. I speak many languages including,
      but not limited to, English, Mandarin, Javascript, Typescript and Python.
      In no particular order, my passions are teaching, learning, people, coding,
      and gaming.
    </p>

    <p>
      <span class="first-sentence">I am always learning new things. </span>
      Whether I am learning more about technologies
      I already use or I am learning an entirely new technology, I am having a
      blast doing it. I am currently using Angular(4) to create my projects, but
      plan to try Vue and React in the near future.
    </p>

    <p>
      <span class="first-sentence">My focus is to write clean, readable code. </span>
      I spend a lot of time studying best practices and refactoring my code to be more
      readable. I understand that I should never write code for my current self and
      always look to the future when someone (maybe my future self) will have to
      decipher what it does and what it means.
    </p>

  </div>

  <app-sub-heading>
    Core Skills
  </app-sub-heading>

  <app-skill progress="100" color="#3A7CA5">Teamwork</app-skill>
  <app-skill progress="100" color="#3A7CA5">Organization</app-skill>
  <app-skill progress="100" color="#3A7CA5">Communication</app-skill>

  <app-sub-heading>
    Front-end Skills
  </app-sub-heading>

  <app-skill progress="75" color="#02C39A">HTML/CSS</app-skill>
  <app-skill progress="90" color="#02C39A">Javascript</app-skill>
  <app-skill progress="80" color="#02C39A">Typescript</app-skill>

  <div class="skill-divider"></div>

  <app-skill progress="85" color="#028090">Angular4</app-skill>
  <app-skill progress="60" color="#028090">Ionic</app-skill>
  <app-skill progress="40" color="#028090">Sass</app-skill>

  <app-sub-heading>
    Back-end Skills
  </app-sub-heading>

  <app-skill progress="70" color="#F26430">Python</app-skill>
  <app-skill progress="30" color="#F26430">Flask</app-skill>
  <app-skill progress="40" color="#F26430">MySQL</app-skill>

  <app-sub-heading>
    Education
  </app-sub-heading>

  <app-education imgSrc="http://i399.photobucket.com/albums/pp76/allaboutuni/ClaytonStateUniversity.jpg">
    <div university>Temple University</div>
    <div degree>PhD Computational Chemistry</div>
  </app-education>

  <app-education imgSrc="http://i399.photobucket.com/albums/pp76/allaboutuni/ClaytonStateUniversity.jpg">
    <div university>Temple University</div>
    <div degree>PhD Computational Chemistry</div>
  </app-education>

</app-card>
