@import "../../assets/sass-shared";

.emphasize {
  font-weight: 600;
  color: $accent;
  font-size: 1.1em;
}

.first-sentence {
  font-weight: 600;
}

.about-text {
  color: $secondary-text;
}

.skill-divider {
  display: block;
  margin: 3.5em;
}

.education-divider {
  margin: 10px 0;
  height: 0;
  display: block;
  border-bottom: 1px solid #c7c7c7;
}
