@import "../../../assets/sass-shared";

.card-container {
  @extend %generic-card;
  flex-direction: column;
  padding: 24px;
}

.card-subtitle {
  font-size: 10em;
}

.card-title {
  font-size: 2em;
  font-weight: 200;
  margin: 20px 0;
}
.card-subtitle {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: 100;
}
