h2 {
  text-align: center;
}

.check-container {
  margin-top: 100px;
  display: block;
  text-align: center;
}

.text-container {
  margin-bottom: 150px;
}

i {
  font-size: 70px;
  width: 70px;
  height: 70px;
  margin: auto;
}
