@import "../assets/sass-shared";

.app-container {
  display: flex;
  flex-flow: row wrap;
}

.router-container {
  @extend %content-responsive;
  position: relative;
  padding-bottom: 20px;
}

.app-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgb(240,240,240);
}
