@import "../../../assets/sass-shared";

.project-container {
  @include aspect-ratio(1.33);
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 10px 0;
  overflow: hidden;
  position: relative;
  width: 270px;
  transition: all .3s ease-in-out;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.project-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.project-name {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  margin: 24px;
  position: absolute;
  top: 0;
  > p {
    font-size: .8em;
    font-weight: 100;
  }
}

.link-container {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  position: absolute;
  width: 100%;
}

.link {
  font-size: 1.2em;
  color: white;
}

.link:hover {
  color: $accent;
}

.overlay {
  background: rgba(37, 37, 37, 0.7);
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translate(0, 100%);
  width: 100%;
}

a {
  text-decoration: none;
}
