<div class="nav-card">
  <img class="portrait" src="../../../assets/portrait.png">
  <div class="nav-element"
       [routerLink]="['about']"
       routerLinkActive="active-link">
    <span class="nav-text">ABOUT</span>
    <i class="material-icons">person</i>
  </div>
  <div class="nav-element"
       [routerLink]="['portfolio']"
       routerLinkActive="active-link">
    <span class="nav-text">PORTFOLIO</span>
    <i class="material-icons">work</i>
  </div>
  <div class="nav-element"
       [routerLink]="['blog']"
       routerLinkActive="active-link">
    <span class="nav-text">BLOG</span>
    <i class="material-icons">gesture</i>
  </div>
  <div class="nav-element"
       [routerLink]="['contact']"
       routerLinkActive="active-link">
    <span class="nav-text">CONTACT</span>
    <i class="material-icons">send</i>

  </div>
  <div class="link-container">
    <a href="https://github.com/zhl146">
      <img class="social-btn" src="../../../assets/icons/round-github.svg">
    </a>
    <a href="https://www.linkedin.com/in/zhl146/">
      <img class="social-btn" src="../../../assets/icons/round-linkedin.svg">
    </a>
    <a href="https://plus.google.com/u/0/100539363718454838066">
      <img class="social-btn" src="../../../assets/icons/round-googleplus.svg">
    </a>
  </div>
</div>
