<div class="nav-card">
  <img class="portrait" src="../../../assets/portrait.png">
  <div class="nav-element" [routerLink]="['about']">
    <span class="nav-text">ABOUT</span>
    <i class="material-icons">person</i>
  </div>
  <div class="nav-element" [routerLink]="['portfolio']">
    <span class="nav-text">PORTFOLIO</span>
    <i class="material-icons">work</i>
  </div>
  <div class="nav-element" [routerLink]="['blog']">
    <span class="nav-text">BLOG</span>
    <i class="material-icons">gesture</i>
  </div>
  <div class="nav-element" [routerLink]="['contact']">
    <span class="nav-text">CONTACT</span>
    <i class="material-icons">send</i>

  </div>
  <div class="link-container">
    <i class="material-icons">build</i>
    <i class="material-icons">cached</i>
    <i class="material-icons">account_balance</i>
  </div>
</div>
