.progress-container {
  height: 10px;
  position: relative;
  background: transparent;
  border-radius: 25px;
  padding: 0;
  overflow: hidden;
}

.progress {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.skill-container {
  margin: 10px 0;
}

.skill-label {
  color: grey;
  margin: 0 5px 7px 5px;
}
